* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, #4b6cb7 10%, #182848 100%);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: height 0.3s ease;
}

.container.active {
    height: 350px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}

form h1 {
    font-size: 30px;
    color: #333;
    font-weight: bold;
    text-align: center;
}

form p {
    font-size: 20px;
    color: #666;
    font-weight: bold;
    text-align: center;
}

form input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

form input:focus {
    border-color: #4b6cb7;
}

form button {
    background-color: #4b6cb7;
    color: #fff;
    width: 120px;
    height: 50px;
    padding: 10px;
    border: none;
    box-shadow: 0 0 10px rgba(35, 35, 35, 0.5);
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

form button:hover {
    background-color: #182848;
    transform: scale(1.05);
}

.qrCode {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.qrCodeImg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    border-radius: 10px;
    width: 150px;
    background-color: #fff;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.container.active .qrCodeImg {
    opacity: 1;
}
